body {
	background: #fff url('../assets/img/whitenoise.png') repeat;
}

#masthead {
	padding: 3em 0;
	text-align: center;
}
nav.top-bar {
	font-family:"Trajan W01 Regular";
	text-transform: uppercase;
	.top-bar-section {
		width: 65%;
		margin: 0 auto;
		@media only screen and (max-width : 982px) {
			width: 72%;
		}
		@media only screen and (max-width : 910px) {
			width: 83%;
		}
		@media only screen and (max-width : $small-screen) {
			width: 100%;
		}
		ul {
			background: transparent;
			.dropdown {
				li {
					label {
						background: transparent;
					}
				}
				li.title {
					background: $topbar-dropdown-link-bg;
					color: $primary-color;

					h1, h2, h3, h4, h5, h6 {
						text-transform: uppercase;
						a {
							font-weight: bold;
							font-size: emCalc(14px);
							color: $primary-color;
						}
					}
				}
			}
		}	
	}
}

.header-be-gone {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}

#officialRegister {
	height: 464px;
	background: #000 url('../assets/img/sign-up-banner-big.jpg') center no-repeat;
	text-align: center;
	padding: 6em 0;
	@media only screen and (max-width : 480px) {
			background: #000 url('../assets/img/sign-up-banner-mobile.jpg') center no-repeat;
	}
	h2, h5 { 
		color: #fff;
		text-shadow: 5px 5px 9px rgba(0,0,0,0.6);
	}
	h2 {
		font-size: emCalc(60px);
		line-height: 1;
		margin-bottom: 0;
		letter-spacing: -0.03em;
		@media only screen and (max-width : 480px) {
			font-size: emCalc(32px);
		}
	}
	h5 {
		margin-top: 0;
		line-height: 1;
		font-size: emCalc(34px);
		@media only screen and (max-width : 480px) {
			font-size: emCalc(18px);
		}
	}
	.button {
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		color: #fff;
		text-shadow: -1px -1px 2px rgb(34, 34, 34);
	}
}

#landingIntroText {
	padding-top: 3em;
	padding-bottom: 3em;
	font-size: emCalc(18px);
}

footer {
	padding-top: 3em;
	padding-bottom: 3em;
	margin-top: 145px;
	background: $primary-color;
	border-top: 4px solid #222;
	#takedown {
		img {
			float: right;
			margin-top: -190px;
			height: 180px;
		}
	}
	a {
		color: $body-font-color;
		border-bottom: 1px dotted $body-font-color;
		&:hover {
			color: $body-font-color;
			border-bottom: 1px solid $body-font-color;
		}
	}
	#socialBanner {
		margin: 1em 0;
		font-family: "Trajan W01 Regular";
		text-align: center;
		text-transform: uppercase;
		border-bottom: 2px $body-font-color solid;
	}
	#socialAction {
		margin-top: 1em;
		font-family: "Trajan W01 Regular";
		text-align: center;
		text-transform: uppercase;
	}
	#footerLegal {
		margin-top: 1em;
	}
}

#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
  display: block !important;
}

.fb-like {
	width: 140px !important;
	margin: 0 auto;
}
