// ITCBerkeleyOldstyleW01- 812507'	ITC Berkeley Oldstyle™ Bold
// ITCBerkeleyOldstyleW01- 812510'	ITC Berkeley Oldstyle™ Bold Italic
// ITCBerkeleyOldstyleW01- 812513'	ITC Berkeley Oldstyle™ Book
// ITCBerkeleyOldstyleW01- 812516'	ITC Berkeley Oldstyle™ Book Italic
// ITCBerkeleyOldstyleW01- 812519'	ITC Berkeley Oldstyle™ Italic
// Trajan W01 Bd'					Trajan™ Bold
// Trajan W01 Regular'				Trajan™ Regular

@font-face{
font-family:"ITCBerkeleyOldstyleW01- 812507";
src:url("../assets/Fonts/6852fdfc-6d34-42ea-ada8-e581ac546acd.eot?#iefix");
src:url("../assets/Fonts/6852fdfc-6d34-42ea-ada8-e581ac546acd.eot?#iefix") format("eot"),url("../assets/Fonts/f13dd0d4-349a-41a5-a6ea-2bb7dc6797e7.woff") format("woff"),url("../assets/Fonts/036afdbe-5441-44c7-a54a-f75ec9343815.ttf") format("truetype"),url("../assets/Fonts/4fa4aae1-b708-47f5-bd32-8e9e8f25f12c.svg#4fa4aae1-b708-47f5-bd32-8e9e8f25f12c") format("svg");
}
@font-face{
font-family:"ITCBerkeleyOldstyleW01- 812510";
src:url("../assets/Fonts/5d49aee6-7428-489f-a98e-6b4fade96cae.eot?#iefix");
src:url("../assets/Fonts/5d49aee6-7428-489f-a98e-6b4fade96cae.eot?#iefix") format("eot"),url("../assets/Fonts/ca732995-e7ae-4db4-a1bb-c7bd442d0e7e.woff") format("woff"),url("../assets/Fonts/bc27117d-7e91-4b39-b97d-2f899c749e67.ttf") format("truetype"),url("../assets/Fonts/3f1df25f-34d9-4cfa-8953-c8e044f1f624.svg#3f1df25f-34d9-4cfa-8953-c8e044f1f624") format("svg");
}
@font-face{
font-family:"ITCBerkeleyOldstyleW01- 812513";
src:url("../assets/Fonts/653d75b8-8588-43fa-865f-68b9fd91b4a7.eot?#iefix");
src:url("../assets/Fonts/653d75b8-8588-43fa-865f-68b9fd91b4a7.eot?#iefix") format("eot"),url("../assets/Fonts/cdfc1b4e-836e-4915-a2df-b4fd050de63a.woff") format("woff"),url("../assets/Fonts/ad1d6cb1-7cf9-48bb-b189-95ed09c11eea.ttf") format("truetype"),url("../assets/Fonts/87342274-f97d-4ac5-ba07-34799a8e72b9.svg#87342274-f97d-4ac5-ba07-34799a8e72b9") format("svg");
}
@font-face{
font-family:"ITCBerkeleyOldstyleW01- 812516";
src:url("../assets/Fonts/7bce88a5-576a-495a-a821-1ad1dfa30cda.eot?#iefix");
src:url("../assets/Fonts/7bce88a5-576a-495a-a821-1ad1dfa30cda.eot?#iefix") format("eot"),url("../assets/Fonts/77ba1fda-e201-434c-8d62-431e2130d133.woff") format("woff"),url("../assets/Fonts/2edf0397-453e-4eb7-af71-ef74035d7518.ttf") format("truetype"),url("../assets/Fonts/dca10493-a499-4b36-8461-b8df003e82a9.svg#dca10493-a499-4b36-8461-b8df003e82a9") format("svg");
}
@font-face{
font-family:"ITCBerkeleyOldstyleW01- 812519";
src:url("../assets/Fonts/e5b2bb86-eeff-4b4d-980e-ccf8e83bfe4c.eot?#iefix");
src:url("../assets/Fonts/e5b2bb86-eeff-4b4d-980e-ccf8e83bfe4c.eot?#iefix") format("eot"),url("../assets/Fonts/27173d01-c156-4110-9d9d-6892cfb354ac.woff") format("woff"),url("../assets/Fonts/a1abdfd2-8440-48d3-91eb-a97ae8a0412b.ttf") format("truetype"),url("../assets/Fonts/0671d364-98e3-4cda-bc2d-cca989b85baf.svg#0671d364-98e3-4cda-bc2d-cca989b85baf") format("svg");
}
@font-face{
font-family:"Trajan W01 Bd";
src:url("../assets/Fonts/a602588d-0fb5-40a8-a1b9-112c323b8a73.eot?#iefix");
src:url("../assets/Fonts/a602588d-0fb5-40a8-a1b9-112c323b8a73.eot?#iefix") format("eot"),url("../assets/Fonts/42eddbd0-3b0e-4c24-ba3b-57b9859b2602.woff") format("woff"),url("../assets/Fonts/a901f152-b0d8-4686-bbaa-8a5aff10781b.ttf") format("truetype"),url("../assets/Fonts/5fac8357-5dba-4c53-80c1-607abd0eae0e.svg#5fac8357-5dba-4c53-80c1-607abd0eae0e") format("svg");
}
@font-face{
font-family:"Trajan W01 Regular";
src:url("../assets/Fonts/5cbd8dde-fb39-4dd1-aa25-5bb5842eb03d.eot?#iefix");
src:url("../assets/Fonts/5cbd8dde-fb39-4dd1-aa25-5bb5842eb03d.eot?#iefix") format("eot"),url("../assets/Fonts/b4312891-e355-4bdc-80c9-ef3dbf7bd916.woff") format("woff"),url("../assets/Fonts/124dc47b-32a0-4543-a60e-d8aad32782b4.ttf") format("truetype"),url("../assets/Fonts/001e534b-3742-45b3-b20b-d4c53c41a519.svg#001e534b-3742-45b3-b20b-d4c53c41a519") format("svg");
}

.text-content {
    @media only screen and (max-width : 480px) {
	     padding-left: 2em;
	     padding-right: 2em;
    }
}

strong,
  b {
	font-family: 'ITCBerkeleyOldstyleW01- 812507';
	font-weight: normal;
  }

   em,
  i {
  	font-family: 'ITCBerkeleyOldstyleW01- 812519';
	font-weight: normal;
  }

  .header-be-gone {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}